/vendor
/node_modules
/public/storage
/public/uploads
larproject1.tar.gz
Homestead.yaml
Homestead.json
.env
/.idea
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDS8GQPvf/lCeV4kRG16qwclHNu/oodC2hKK73B9V1A/QSAnNxMk5Pw3VPx7ZWqrJnUsS6AnRyOK43vhRtWEphEIXKONzGRytMX7uE1pFz+g0FX$
