<li class="dropdown dropdown-large">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Album <b class="caret"></b></a>
    <ul class="dropdown-menu dropdown-menu-large row">
        <li class="col-sm-4">
            <ul>
                <li class='dropdown-header'>VIỆT NAM</li>
                <li><a href='http://larproject1.app/chu-de/nhac-tre/album'>Nhạc trẻ</a></li>
            </ul>
        </li>
        <li class="col-sm-4">
            <ul>
                <li class='dropdown-header'>ÂU MỸ</li>
                <li><a href='http://larproject1.app/chu-de/pop/album'>Pop</a></li>
                <li><a href='http://larproject1.app/chu-de/rock/album'>Rock</a></li>
                <li><a href='http://larproject1.app/chu-de/rap-hip-hop/album'>Rap / Hip Hop</a></li>
                <li><a href='http://larproject1.app/chu-de/country/album'>Country</a></li>
                <li><a href='http://larproject1.app/chu-de/electronic/album'>Electronic</a></li>
                <li><a href='http://larproject1.app/chu-de/r-b/album'>R & B</a></li>
            </ul>
        </li>
        <li class="col-sm-4">
            <ul>
                <li class='dropdown-header'>CHÂU Á</li>
                <li><a href='http://larproject1.app/chu-de/han-quoc/album'>Hàn Quốc</a></li>
                <li><a href='http://larproject1.app/chu-de/nhat-ban/album'>Nhật Bản</a></li>
                <li><a href='http://larproject1.app/chu-de/hoa-ngu/album'>Hoa ngữ</a></li>
                <li><a href='http://larproject1.app/chu-de/thai-lan/album'>Thải Lan</a></li>
            </ul>
        </li>


    </ul>
</li>