@media (max-width: 767px) {
  #top-search-text{
    width: 100%;
  }
  .k-sub-menu {
    font-size: 12px;
    width: 280px;
  }
  #player-tool-area {
    position: static;
    margin: 10px 0px 10px 0px;
    .tool-box {
      float: left;
      margin-right: 5px;
    }
    .clearfix {
      display: none;
    }
  }
}