@media (max-width: 480px) {
	#player-tool-area{
		position: static;
		margin: 10px 0px 10px 0px;
		.tool-box{
			float: left;
			margin-right: 5px;
		}
		.clearfix{
			display: none;
		}
	}
	#playlist-summary{
		.playlist-detail{
			display: none;
		}
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}