@media (min-width: 768px) and (max-width: 979px) {
  .k-menu{
    padding: 0px;
  }
  .k-menu>li .k-sub-menu{
    width: 400px;
  }
  #buildin-player{
    display:none;
  }
  #my-player{
    display:inline-block;
  }
  #player-tool-area{
    position: static;
    .tool-box{
      float: left;
      margin-bottom: 0px;
      margin-right: 15px;
    }
    .clearfix{
      display: none;
    }
  }
}
@media (max-width: 767px) {
  #buildin-player{
    display:inline-block;
  }
  #my-player{
    display:none;
  }
  #player-tool-area{
    position: static;
    .tool-box{
      float: left;
      margin-bottom: 0px;
      margin-right: 15px;
    }
    .clearfix{
      display: none;
    }
  }
}