body{
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 25px;
  word-spacing: 1.6px;
  color: #555555;
}
thead{
  background: blueviolet;
  //background: $color2;
}
.content{
  //padding: 5px;
}
.fog{
  display: none;
}
a{
  color: $gray;
}
a:hover, a:visited, a:active{
  text-decoration: none;
}

//h4{
//  margin-top: 0;
//  color: black;
//  font-size: 20px;
//  text-transform: uppercase;
//}

.block{
  display: block;
}

// Scroll bar
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}