// Popup search modules
@mixin popup1 {
    z-index: 99;
    //width: 100%;
    position: absolute;
    margin-top: 10px;
    background: $color1;
}

.popup {
    display: none;
    color: white;
}

.popup.search_artist {
    @include popup1();
}

.popup.search_song {
    @include popup1();
}

// Song - show
// Buildin-player
#buildin-player{
    display:none;
}
// Audio-player


// player-tool-area
#player-tool-area{
    position: absolute;
    top: 32px;
    right:100px;
    height: 80px;
    //width: 650px;
    margin-bottom: 5px;
    text-align: center;
    a{
        display: block;
    }
    .tool-box {
        position: relative;
        float: right;
        display: block;
        width: 80px;
        height: 80px;
        text-align: center;
        border: 1px solid silver;
        margin-bottom: 15px;
        //vertical-align: middle;

        i {
            font-weight: 400;
            font-size: 20px;
            font-style: normal;
            margin-top: 15px;
            display: block;
        }
        b {
            font-weight: 400;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            bottom: 10px;
            display: block;
        }
    }
}

// Playlist - show
#playlist-summary{

    margin: 5px 0 10px 0;
    * {
        padding-left: 0;
    }

    img{
        margin-bottom: 5px;
        margin-top: 5px;
    }
}
// Cate - show
.playlist-box{
    min-width: 170px;
    position: relative;
    text-align: center;
    &:hover{
        opacity: 0.7;
        .play-hover{
            display: block;
        }
    }
    .play-hover{
        display: none;
        position: absolute;
        top: 60px;
        left: 65px;
    }
    .playlist-title{
        margin: 0;
        padding: 5px 0 5px 0;
        font-weight: 700;
        i{
            display: block;
            font-weight: 500;
            color: silver;
        }
    }
}

.hot-song{
    li:hover{
        background: mintcream;
    }
}


//Control Panel
#controlpanel{
    li{
        position: relative;
        &:hover{
            background-color: blueviolet;
            color: white;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            &:hover{
                color: white;
            }
        }
        b{
            position: absolute;
            font-weight: 400;
            left: 60px;
        }
    }
}

// playlist-popup
#playlist-popup i{
    margin-left: 5px;
}
#add-song-alert{
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.add-this-song-to-me{
    cursor: pointer;
    &:hover{
        color: white;
        background-color: blueviolet;
        a{
            color: white;
        }
    }
}
.reload{
    display: block;
    margin-left: auto;
    margin-right: auto;
}