// Popup search modules
@mixin popup1 {
  z-index: 99;
  //width: 100%;
  position: absolute;
  margin-top: 10px;
  background: $brand-success;
}

@mixin set_cl($bg,$color) {
  background-color: $bg;
  color: $color;
}

@mixin hover1() {
  border-left: 2px solid $brand-mycolor;
  //border-color: ;
}

.popup {
  display: none;
  color: white;
}

.popup.search_artist {
  @include popup1();
}

.popup.search_song {
  @include popup1();
}

// Song - show
// Buildin-player
#buildin-player {
  display: none;
}

// Audio-player

// player-tool-area
#player-tool-area {
  position: absolute;
  top: 32px;
  right: 100px;
  height: 80px;
  //width: 650px;
  margin-bottom: 5px;
  text-align: center;
  a {
    display: block;
  }
  .tool-box {
    position: relative;
    float: right;
    display: block;
    width: 80px;
    height: 80px;
    text-align: center;
    border: 1px solid silver;
    margin-bottom: 15px;
    //vertical-align: middle;

    i {
      font-weight: 400;
      font-size: 20px;
      font-style: normal;
      margin-top: 15px;
      display: block;
    }
    b {
      font-weight: 400;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: 10px;
      display: block;
    }
  }
}

#middle-info {
  margin: 15px 0 15px 0;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  i {
    font-size: 18px;
    font-weight: 600;
  }
}

// Playlist - show
#playlist-summary {

  margin: 0;
  * {
    padding-left: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

#other-playlist {
  margin-top: 10px;
  a {
    display: block;
    padding: 5px;
    &:hover {
      background: $brand-mycolor;
      color: white;
      .my-media-heading{
        color: white;
      }
      div {
        color: white;
      }
      p {
        background: $brand-mycolor;
        color: white;
      }
    }
  }

  .media-body {
    h5 {
      color: $gray-darker;
    }
    .my-media-heading {
      margin: 0px 0px 5px 0px;
      //font-size: 16px;
      //line-height: 20px;
      //font-weight: 600;
      color: $gray-darker;
    }
    p {
      color: #555555;
    }
  }
  p {
    margin: 0;
  }
}

// Cate - show
.playlist-box {
  min-width: 170px;
  position: relative;
  text-align: center;
  &:hover {
    opacity: 0.7;
    .play-hover {
      display: block;
    }
  }
  .playlist-img {
    position: relative;
  }

  .play-hover {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .playlist-title {
    margin: 0;
    padding: 5px 0 5px 0;
    font-weight: 700;
    i {
      display: block;
      font-weight: 500;
      color: silver;
    }
  }
}

.hot-song {
  li:hover {
    background: mintcream;
  }
}

//Control Panel
#controlpanel {
  li .pull-left{
    margin-right: 10px;
    line-height: 30px;
  }
}

// playlist-popup
#playlist-popup i {
  margin-left: 5px;
}

#add-song-alert {
  display: block;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.add-this-song-to-me, .add-this-playlist-to-me {
  cursor: pointer;
  &:hover {
    color: white;
    background-color: $brand-mycolor;
    a {
      color: white;
    }
  }
}

.reload {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// temp_playlist_tool
#temp_playlist_tool {
  margin-top: 10px;
  margin-bottom: 10px;

}

// Top search

#top-search-form {
  position: relative;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
}

#top-search-result {
  z-index: 99;
  position: absolute;
  width: 100%;
  border: 1px solid silver;
  background: white;
  padding-top: 5px;
  display: none;

  i {
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 3px;
    //border-bottom: 3px solid red;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
  }
  ol {
    margin: 0;
    list-style-type: none;
    padding: 0;
    li {
      box-sizing: content-box;
      padding: 0 5px 5px 15px;
      min-height: 30px;
      line-height: 30px;
      .search-artist {
        color: #555555;
        font-size: 80%;
        font-style: italic;
      }
      &:hover {
        color: whitesmoke;
        background-color: $brand-mycolor;
        .search-artist {
          color: whitesmoke;
        }
      }
    }
  }
  ol:first-child {
  }
}

// Artist page
#artist-header {
  position: relative;
  padding: 5px;
  height: 300px;
  //height: 100%;
  width: 100%;
  background: silver;
  .float-container {
    position: absolute;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.09) 14%, rgba(0, 0, 0, 0.43) 47%, rgba(0, 0, 0, 0.5) 59%, rgba(0, 0, 0, 0.5) 100%);

    .media-left {
      img {
        border: 2px solid white;
      }
    }

    .media-body {

      color: white;
      font-weight: 700;
    }
  }
}

#artist-main {
  margin-top: 10px;
  .tab-content {
    margin-top: 5px;
  }
}

/// CHART MODULE

#chart-song-box {
  .list-group-item {

    &:first-child {
      border-top: 0;
    }

    &:hover {
      @include hover1();
    }

    .chart-item-right {
      font-size: 20px;
      i {
        font-weight: 100;
      }
    }

  }
}

// PARTIAL CHART
.partial-chart {
  h3 {
    margin: 0 0 10px 0;
  }
  .media {
    .media-left {
      width: 30px;
    }
    .media-body {
      a {
        color: $gray;
      }
      h5 a {
        color: $gray-darker;
      }
    }
  }
}

// PARITAL HOT SONG
.partial-hot-song {
  margin-top: 15px;
  margin-bottom: 15px;
  h3 {
    margin: 0 0 10px 0;
  }
  .caption {
    a {
      color: $gray;
    }
    h5 {
      overflow: hidden;
      white-space: nowrap;
      a {
        color: $gray-darker;
      }

    }
  }
}

#hot-song {
  .pull-left {
    margin-right: 5px;
  }
  .pull-right {
    a {
      margin-right: 10px;
    }
  }
}

// THUMBNAIL ROW
.thumbnail-row {
  .thumbnail {
    .caption {
      h5 {
        a {
          color: $gray-darker;
        }
      }
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.thumbnail-artist {

}