.navbar {
  margin-bottom: 5px;
}
.k-menu {
  padding: 0;
  list-style: none;
  height: 40px;
  & > li {
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 60px;
    display: inline-block;
    position: relative;

    z-index: 99;
    a {
      text-decoration: none;
      color: black;
    }
    &:hover {
      border: 1px solid silver;
      border-bottom: 0px;
      .k-sub-menu {
        display: block;
      }
    }
    .k-sub-menu {
      padding: 10px 0 0 0;
      display: none;
      top: 39px;
      left: -1px;
      width: 300px;
      z-index: 77;
      position: absolute;
      border: 1px solid silver;
      background: white;
      list-style: none;
      li.column {
        padding-right: 5px;
        text-align: left;
        float: left;
        width: 25%;
        a:hover {
          cursor: pointer;
          color: darkblue;
        }
      }
      li.column:first-child{
        padding-left: 5px;
      }
    }
  }
}
.red-foot{
  border-bottom: 2px solid crimson;
}
.blue-foot{
  border-bottom: 2px solid darkblue;
}